/* GLOBAL COLORS */

$color-white:                       #fff;
$color-black:                       #000;
$color-primary:                     $color-black;
$color-secondary:                   #191919;
$color-neutral-dark:                #8F8F8F;
$color-neutral-light:               #e1e1e1;

/* LINKS COLORS */

$color-link-text:                   $color-primary;
$color-link-text-hover:             $color-secondary;

/* HEADER COLORS */

$color-header-background:           $color-white;
$color-header-text:                 $color-black;
$color-header-link-text:            $color-primary;
$color-header-link-text-hover:      $color-secondary;

/* FOOTER COLORS */

$color-footer-background:           $color-primary;
$color-footer-text:                 $color-black;
$color-footer-link-text:            $color-primary;
$color-footer-link-text-hover:      $color-secondary;

/* HEADINGS COLORS */

$color-heading-text:                $color-black;

/* BUTTONS COLORS */

$color-button-background:           $color-primary;
$color-button-text:                 $color-white;
$color-button-border:               $color-primary;
$color-button-background-hover:     $color-white;
$color-button-text-hover:           $color-primary;
$color-button-border-hover:         $color-primary;
 
/* INPUTS COLORS */

$color-input-background:            $color-white;
$color-input-text:                  $color-black;
$color-input-text-focus:            $color-black;
$color-input-border:                $color-primary;


